<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<header th:fragment="siteHeader">
    <div class="top-header">
        <!-- 왼쪽 로고 -->
        <div class="logo">
            <a th:href="@{/festivals}">FestaFlow</a>
        </div>

        <!-- 오른쪽 로그인/회원가입 / 마이페이지/로그아웃 -->
        <div class="auth-links">

            <!-- 비로그인 -->
            <div sec:authorize="isAnonymous()">
                <a th:href="@{/auth/login}">로그인</a>
                <a th:href="@{/auth/signup}">회원가입</a>
            </div>

            <!-- 로그인 -->
            <div sec:authorize="isAuthenticated()">
                <span th:text="${#authentication.name} + '님 환영합니다'">
                    OOO님 환영합니다
                </span>

                <a th:href="@{/members/mypage}" style="margin-left: 8px;">마이페이지</a>

				<form th:action="@{/auth/logout}" method="post" class="logout-form">
				    <input th:if="${_csrf != null}" type="hidden"
				           th:name="${_csrf.parameterName}"
				           th:value="${_csrf.token}" />
				    <button type="submit">로그아웃</button>
				</form>
            </div>

        </div>
    </div>
</header>
</body>
</html>