<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 변경</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<h1>비밀번호 변경</h1>

<form th:action="@{/members/password}" th:object="${form}" method="post">
    <div>
        <label>현재 비밀번호</label>
        <input type="password" th:field="*{currentPassword}">
        <div th:if="${#fields.hasErrors('currentPassword')}"
             th:errors="*{currentPassword}"></div>
    </div>

    <div>
        <label>새 비밀번호</label>
        <input type="password" th:field="*{newPassword}">
        <div th:if="${#fields.hasErrors('newPassword')}"
             th:errors="*{newPassword}"></div>
    </div>

    <div>
        <label>새 비밀번호 확인</label>
        <input type="password" th:field="*{newPasswordConfirm}">
        <div th:if="${#fields.hasErrors('newPasswordConfirm')}"
             th:errors="*{newPasswordConfirm}"></div>
    </div>

    <button type="submit">변경하기</button>
</form>

</body>
</html>
